body {
    margin: 0;
    padding: 0;
}

/* -----------------------
        header style 
    ------------------------*/
header {
    width: 100%;
    background-color: #562EFF;
    height: 94px;
}

nav {
    width: 910px;
    margin: 0 auto;
    display: flex;
}

.left-nav {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left-nav img {
    width: 40px;
    height: 50px;
}

.left-nav>p {
    font-size: 24px;
    padding-left: 20px;
    color: white;
}

.right-nav {

    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.right-nav ul>li {
    display: inline;
    padding-right: 10px;
}

.right-nav li>a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: 0;
    padding-right: 0
}

.right-nav-profile {
    margin-left: 30px;
}